@use "form";

body {
  background-color: #492666;
  color: #ffd700; // 8.5 contrast ratio
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
}

.products-list article {
  border: 3px solid #ffd700;
  margin-bottom: 4px;
  padding: 4px;
}

.products-list .metadata {
  display: flex;
  justify-content: space-between;
}

.cart-total {
  transition: all 0.3s ease-in-out;
}

.highlight-price {
  font-size: 1.5rem;
}

.cart {
  margin-bottom: 16px;
  border: #ffd700 3px solid;
  border-radius: 10px;
  padding: 8px;
}

button {
    margin: 0.5rem 0.2rem;
}


@media screen and (min-width: 720px) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px;
  }
  .products-list article {
    width: 70%;
  }
}
